<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>MPhil Human Resource Management</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">MPhil Human Resource Management</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>MPhil Human Resource Management</h2>
							<p>
                                This degree programme is designed to prepare graduates for top-class careers and professions in the field of Human Resource Management (HRM) within the diverse industrial and service sectors. This qualification aims to help students grow as intellectual and professional individuals who can demonstrate independent and unique scientific knowledge in human resource management. The student will also have the chance to demonstrate proficiency in the application of pertinent research methodologies, in the appropriate written and/or oral communication of the research process and findings, and in the opportunity to reflect on the research process and findings.
                            </p>
 
							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
