<header class="header-area">
			<!-- Start Top Header -->
			<div class="top-header">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-sm-6">
							<ul class="header-left-content">
								<li>
									<a href="tel:+1-(514)-312-5678">
										<i class="ri-phone-fill"></i>
									+233-37-209-3697
									</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="header-right-content">
								

								<div class="my-account">
									<a href="/create-lecturer-profile">
										<i class="ri-user-fill"></i>
									</a>
								</div>

								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Start Top Header -->
			
			<!-- Start Navbar Area --> 
			<div class="navbar-area">
                <div class="mobile-responsive-nav">
                    <div class="container">
                        <div class="mobile-responsive-menu">
                            <div class="logo">
                                <a href="index.html">
									<img src="/images/logo.png" alt="logo" width="70" height="20">
								</a>
                            </div>

							<div class="others-options-for-mobile-devices">
								<ul>
									<li>
										<a href="application.html" class="default-btn">
											Apply Now
										</a>
									</li>
									<li>
										<button type="button" class="search-btn" data-bs-toggle="modal" data-bs-target="#exampleModalsrc">
											<i class="ri-search-line"></i>
										</button>
									</li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>

                <div class="desktop-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="index.html">
                                <img src="/images/logo.png" alt="logo">
                            </a>

                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav m-auto">
									<li class="nav-item">
										<a href="/" class="nav-link active">
											Home 
										</a>

                                        
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">
											About Us  
											<i class="ri-arrow-down-s-line"></i>
										</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a href="/about-us" class="nav-link">About the School</a>
											</li>	
											<li class="nav-item">
												<a href="/mission-vision" class="nav-link">Mission & Vision</a>
											</li>	
											<li class="nav-item">
												<a href="/administrative-staff" class="nav-link">Administrative Staff</a>
											</li>	
										</ul>
										
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link active">
											Departments 
											<i class="ri-arrow-down-s-line"></i>
										</a>

										<ul class="dropdown-menu">
											<li class="nav-item">
												<a href="accounting-department" class="nav-link">Accounting</a>
											</li>
                                            <li class="nav-item">
												<a href="bamis-department" class="nav-link">Business Analytics and Management Information </a>
											</li>
                                            <li class="nav-item">
												<a href="finance-department" class="nav-link">Finance</a>
											</li>
                                            <li class="nav-item">
												<a href="hrod-department" class="nav-link">Human Resource and Organisational Development</a>
											</li>
                                            <li class="nav-item">
												<a href="marketing-and-enterpreneurship-dept" class="nav-link">Department of Marketing and Entrepreneurship</a>
											</li>
                                            <li class="nav-item">
												<a href="pahsa-department" class="nav-link">Public and Health Services Administration</a>
											</li>
                                            <li class="nav-item">
												<a href="pscm-department" class="nav-link">Department of Procurement and Supply Chain Management </a>
											</li>
                                           
											
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link active">
											Programmes 
											<i class="ri-arrow-down-s-line"></i>
										</a>

										<ul class="dropdown-menu">
											<li class="nav-item">
												<a href="/under-graduate-programmes" class="nav-link">Undergraduate Programmes</a>
											</li>	
											<li class="nav-item">
												<a href="/post-graduate-programmes" class="nav-link">Postgraduate Programmes</a>
											</li>		
										</ul>
									</li>

									<!-- <li class="nav-item">
										<a href="#" class="nav-link">
											Academics 
										</a>

									
									</li> -->
									<li class="nav-item">
										<a href="faculty" class="nav-link active">
											Faculty 
										</a>
									</li>
									
                                    <li class="nav-item">
										<a href="contact-us" class="nav-link">Contact Us</a>
									</li>
                                </ul>

                                <div class="others-options">
									<ul>
										<li>
											<a href="#" class="default-btn">
												Apply Now
											</a>
										</li>
										<li>
											<button type="button" class="search-btn" data-bs-toggle="modal" data-bs-target="#exampleModalsrc">
												<i class="ri-search-line"></i>
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </nav>
                    </div>
				</div>
            </div>
			<!-- End Navbar Area -->
		</header>