<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>MBA Accounting</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">MBA Accounting</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>MBA Accounting</h2>
							<p>
The MBA Accounting programme has a two-year duration. The lectures are delivered through three (3) streams, with ten (10) session weekends for each stream. This means there is one-and-a-half year of coursework and one stream for seminars and a dissertation. A critical component is a Business and Networking Bootcamp, which brings together our students and some industry players for network building and fostering partnerships between our students and entrepreneurs and businesses. In addition, we will prepare you for the professional exams provided by the Association of Chartered Certified Accountants (ACCA) and the ICA certificate from the Institute of Chartered Accountants Ghana while you learn the fundamentals necessary for accountancy professionals.							</p>



							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
