<html lang="zxx">
		<%- include('../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->

		<!-- Search Modal -->
		<div class="modal fade search-modal-area" id="exampleModalsrc">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<button type="button" data-bs-dismiss="modal" class="closer-btn">
						<i class="ri-close-line"></i>
					</button>

					<div class="modal-body">
						<form class="search-box">
							<div class="search-input">
								<input type="text" name="Search" placeholder="Search for..." class="form-control">

								<button type="submit" class="search-btn">
									<i class="ri-search-line"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Search Modal -->

          
        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>About Us</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">About Us</li>
					</ul>
				</div>
			</div>
		</div>
	
		<section class="about-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6">
						<div class="about-img-two mr-15">
							<img src="../../images/banner/banner-bg-1.png" alt="Image">

							<div class="about-shape">
								<img src="../../images/banner/banner-bg-1.png" alt="Image">
							</div>
						</div>
					</div>

					<div class="col-xl-6">
						<div class="about-content ml-15">
							<h2>About our School</h2>

                            <p>
                                The history of the UDS School of Business dates back a couple of decades ago when UDS established the Department of Business Studies in its then-Wa Campus. This later led to the establishment of the Faculty of Education, Law and Business (FELBS). In 2013, FELBS was restructured, and the School of Business and Law was set up. The School of Business and Law operated for almost a decade until 2019, when the Government of Ghana converted the UDS campuses into autonomous Universities. The School of Business and Law was ceded to the new University in Wa following a transition. During the transition period, the School of Applied Economics and Management Sciences (SAEMS) was established in 2020 to initiate steps to re-establish a Business School at UDS. SAEMS was located on the Nyankapala campus and housed both economics and business programmes. After two years, SAEMS was dissolved, and the School of Business established in December 2022. The School of Business is located at the UDS City campus in Choggu, Tamale.
The UDS School of Business is committed to creating top-tier human resources and capacities to address domestic and international development concerns. It does this through providing high-quality teaching, learning opportunities, research, and knowledge sharing.
The School offers various undergraduate and postgraduate programmes.


                            </p>
							<a href="https://www.uds.edu.gh/about/" class="default-btn">
								Find out more
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../partials/scripts.ejs') %>
       </body>
