<html lang="zxx">
		<%- include('../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->
        
        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>Contact Us</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
        <section class="contact-info-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="map-area">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.558653692207!2d-0.887809825793689!3d9.372265683522956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfd43d78d14e4de7%3A0xda9ef21b3c72364!2sUniversity%20for%20Development%20Studies!5e0!3m2!1sen!2sgh!4v1688734010274!5m2!1sen!2sgh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
					</div>

					<div class="col-lg-5">
						<div class="contact-info">
							<h2>Get in touch</h2>

							<ul class="address">
								<li class="location">
									<i class="ri-map-pin-2-fill"></i>
									<span>Address</span>
NT-0272-1946 Tamale, Ghana								</li>
								<li>
									<i class="ri-mail-line"></i>
									<span>Email</span>
									<a href="mailto:info@sob.uds.edu.gh">info@sob.uds.edu.gh</a>
								</li>
								<li>
									<i class="ri-phone-fill"></i>
									<span>Phone</span>
									<a href="tel:+1-(514)-312-5678">+233-37-209-3697</a>
								</li>
							</ul>

							<h3>Follow Us</h3>

							<ul class="social-link">
								<li>
									<a href="#" target="_blank">
										<i class="ri-facebook-fill"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-instagram-fill"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-linkedin-box-fill"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="ri-twitter-fill"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

        <section class="contact-area pb-100">
			<div class="container">
				<div class="section-title">
					<h2>Send Message</h2>
					<p>Want to make enquiry? Send us a quick message</p>
				</div>
				
				<form id="contactForm" novalidate="true" method="post">
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label>Name</label>
								<input type="text" name="name" id="name" class="form-control" required="" data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label>Email</label>
								<input type="email" name="email" id="email" class="form-control" required="" data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label>Phone</label>
								<input type="text" name="phone_number" id="phone_number" required="" data-error="Please enter your number" class="form-control">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="form-group">
								<label>Subject</label>
								<input type="text" name="msg_subject" id="msg_subject" class="form-control" required="" data-error="Please enter your subject">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="form-group">
								<label>Message</label>
								<textarea name="message" class="form-control" id="message" cols="30" rows="6" required="" data-error="Write your message"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<div class="form-group checkboxs">
								<!-- <input type="checkbox" id="chb2"> -->
								<p>
									<!-- Accept <a href="#1">Terms &amp; Conditions</a> And <a href="privacy-policy.html">Privacy Policy.</a> -->
								</p>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<button type="submit" class="default-btn disabled" style="pointer-events: all; cursor: pointer;">
								<span>Send message</span>
							</button>
							<div id="msgSubmit" class="h3 text-center hidden"></div>
							<div class="clearfix"></div>
						</div>
					</div>
				</form>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../partials/scripts.ejs') %>

		<script id="ratufa_loader" src="https://www.ratufa.io/c/ld.js?f=tfgqzblh&n=n1.ratufa.io"></script>
       </body>
