<html lang="zxx">
		<%- include('../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>About Us</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">About Us</li>
					</ul>
				</div>
			</div>
		</div>
	
        <section class="events-area events-area-style-two ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="events-timer mr-15">
							<div class="event-img">
                                <img src="../../images/banner/banner-bg-1.png" alt="Image">
                            </div>

                        

                        </div>
					</div>

					<div class="col-lg-7">
						<div class="events-content ml-15">
							<span>Events</span>
							<h2>Upcoming events</h2>

							<ul class="events-list">
								<li>
									<div class="events-date">
										<span class="mb-2">01 July</span>
										<span>2023</span>
									</div>

									<span>Matriculation</span>
									<h3>
										<a href="">
											Freshers Matriculation
										</a>
									</h3>
									<p>We will have our freshers Matriculationon the 1 July 2023 at the business school auditorium</p>

									<a href="#1" class="read-more">
										Find out more
										<i class="ri-arrow-right-line"></i>
									</a>
								</li>

								<!-- <div class="pagination-area">
									<span class="page-numbers current" aria-current="page">1</span>
									<a href="#" class="page-numbers">2</a>
									<a href="#" class="page-numbers">3</a>
									
									<a href="#" class="next page-numbers">
										<i class="ri-arrow-right-line"></i>
									</a>
								</div> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../partials/scripts.ejs') %>
       </body>
