<html lang="zxx">
		<%- include('../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->

		<!-- Search Modal -->
		<div class="modal fade search-modal-area" id="exampleModalsrc">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<button type="button" data-bs-dismiss="modal" class="closer-btn">
						<i class="ri-close-line"></i>
					</button>

					<div class="modal-body">
						<form class="search-box">
							<div class="search-input">
								<input type="text" name="Search" placeholder="Search for..." class="form-control">

								<button type="submit" class="search-btn">
									<i class="ri-search-line"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Search Modal -->

	
		<!-- Start Study Area -->
		<section class="studys-area study-area-style-two ptb-100">
			<div class="container">
				<div class="section-title">
					<h2  style="font-size: 30px!important;">Finance Department Programmes</h2>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-study style-img">
							<a href="bsc-banking-and-finance">
								<!-- <img src="/images/study/img-two.png" alt="Image"> -->
							</a>

							<div class="single-study-content">
								<h3>
									<a href="bsc-banking-and-finance">BSc Banking and Finance</a>
								</h3>
								<!-- <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore.</p> -->

								<a href="bsc-banking-and-finance" class="read-more">
									Find out more
									<span class="ri-arrow-right-line"></span>
								</a>
							</div>
						</div>
					</div>

		
					<div class="col-lg-3 col-sm-6">
						<div class="single-study style-img">
							<a href="msc-development-finance">
								<!-- <img src="/images/study/img-two.png" alt="Image"> -->
							</a>

							<div class="single-study-content">
								<h3>
									<a href="msc-development-finance">MSc Development Finance</a>
								</h3>

								<a href="msc-development-finance" class="read-more">
									Find out more
									<span class="ri-arrow-right-line"></span>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6">
						<div class="single-study style-img">
							<a href="mba-finance">
								<!-- <img src="/images/study/img-two.png" alt="Image"> -->
							</a>

							<div class="single-study-content">
								<h3>
									<a href="mba-finance">MBA Finance</a>
								</h3>

								<a href="mba-finance" class="read-more">
									Find out more
									<span class="ri-arrow-right-line"></span>
								</a>
							</div>
						</div>
					</div>
                    <div class="col-lg-3 col-sm-6">
						<div class="single-study style-img">
							<a href="mphil-finance">
								<!-- <img src="/images/study/img-two.png" alt="Image"> -->
							</a>

							<div class="single-study-content">
								<h3>
									<a href="mphil-finance">MPhil Finance</a>
								</h3>

								<a href="mphil-finance" class="read-more">
									Find out more
									<span class="ri-arrow-right-line"></span>
								</a>
							</div>
						</div>
					</div>
                    <div class="col-lg-3 col-sm-6">
						<div class="single-study style-img">
							<a href="phd-business-administration-finance">
								<!-- <img src="/images/study/img-two.png" alt="Image"> -->
							</a>

							<div class="single-study-content">
								<h3>
									<a href="phd-business-administration-finance">PhD Business Administration (Finance) </a>
								</h3>

								<a href="phd-business-administration-finance" class="read-more">
									Find out more
									<span class="ri-arrow-right-line"></span>
								</a>
							</div>
						</div>
					</div>
                    <div class="col-lg-3 col-sm-6">
						<div class="single-study style-img">
							<a href="phd-development-finance">
								<!-- <img src="/images/study/img-two.png" alt="Image"> -->
							</a>

							<div class="single-study-content">
								<h3>
									<a href="phd-development-finance">PhD Development Finance</a>
								</h3>

								<a href="phd-development-finance" class="read-more">
									Find out more
									<span class="ri-arrow-right-line"></span>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End Study Area -->

		<!-- Start Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../partials/scripts.ejs') %>
       </body>
