<html lang="zxx">
		<%- include('../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->
        <!-- Search Modal -->
		<div class="modal fade search-modal-area" id="exampleModalsrc">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<button type="button" data-bs-dismiss="modal" class="closer-btn">
						<i class="ri-close-line"></i>
					</button>

					<div class="modal-body">
						<form class="search-box">
							<div class="search-input">
								<input type="text" name="Search" placeholder="Search for..." class="form-control">

								<button type="submit" class="search-btn">
									<i class="ri-search-line"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Search Modal -->

<!-- Start Page Title Area -->
		<div class="page-title-area bg-22">
			<div class="container">
				<div class="page-title-content">
					<h2>News</h2>

					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>

						<li class="active">News</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

        <!-- Start News Area -->
		<section class="blog-post-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="row justify-content-md-center">
							
							<div class="col-lg-12 col-md-6">
								<div class="single-blog">
									<a href="blog-details.html" class="blog-img">
										<img src="../../images/blog/blog-2.png" alt="Image">
										<span>Academics</span>
									</a>
		
									<div class="blog-content">
										<ul>
											<li>
												<i class="ri-calendar-line"></i>
												<span>12 August, 2023</span>
											</li>
										</ul>
			
										<h3>
											<a href="news-details.html">
												What and where choosing to study
											</a>
										</h3>
			
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nemo unde, porro cum asperiores illum quia voluptatum? Vero corporis aspernatur, saepe iusto tempora maiores qui optio eveniet soluta ipsa inventore! ipsum dolor sit amet consectetur adipisicing elit. Inventore nemo unde asperiores illum quia voluptatum asperiores illum quia</p>
									</div>
								</div>
							</div>
		
							

							<div class="col-12">
								<div class="pagination-area">
									<a href="#" class="prev page-numbers">
										<i class="ri-arrow-left-line"></i>
									</a>
									<span class="page-numbers current" aria-current="page">1</span>
									<a href="#" class="page-numbers">2</a>
									<a href="#" class="page-numbers">3</a>
									
									<a href="#" class="next page-numbers">
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="widget-sidebar ml-15">
							<div class="sidebar-widget search">
								<form class="search-form">
									<input class="form-control" name="search" placeholder="Search..." type="text">
									<button class="search-button" type="submit">
										<i class="ri-search-line"></i>
									</button>
								</form>	
							</div>

							<div class="sidebar-widget recent-post">
								<h3 class="widget-title">Latest news</h3>
								
								<ul>
									<li>
										<a href="blog.html">
											Managing the study of management
											<img src="../../images/blog/blog1.png" alt="Image">
										</a>
										<span>March 08, 2021</span>
									</li>
									<li>
										<a href="blog.html">
											Show your appreciation this valentine's day!
											<img src="../../images/blog/blog2.png" alt="Image">
										</a>
										<span>March 11, 2021</span>
									</li>
									<li>
										<a href="blog.html">
											Positivity and productivity during COVID-19
											<img src="../../images/blog/blog13.png" alt="Image">
										</a>
										<span>March 10, 2021</span>
									</li>
								</ul>
							</div>

							
							
	
							<div class="sidebar-widget tags mb-0">
								<h3>Tags</h3>
	
								<ul>
									<li>
										<a href="blog.html">Academics</a>
									</li>
									<li>
										<a href="blog.html">Courses</a>
									</li>
									
									<li>
										<a href="blog.html">Scholarships</a>
									</li>
									<li>
										<a href="blog.html">Business</a>
									</li>
									<li>
										<a href="blog.html">University</a>
									</li>
									
								
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End News Area -->
<!-- Start Footer Area -->
<%- include('../partials/footer.ejs') %>

<!-- End Footer Area -->
<%- include('../partials/scripts.ejs') %>

    </body> 
