<html lang="zxx">
		<%- include('../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->	

		<!-- Search Modal -->
		<div class="modal fade search-modal-area" id="exampleModalsrc">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<button type="button" data-bs-dismiss="modal" class="closer-btn">
						<i class="ri-close-line"></i>
					</button>

					<div class="modal-body">
						<form class="search-box">
							<div class="search-input">
								<input type="text" name="Search" placeholder="Search for..." class="form-control">

								<button type="submit" class="search-btn">
									<i class="ri-search-line"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Search Modal -->

	
		<!-- Start Study Area -->
		<section class="studys-area study-area-style-two ptb-100">
			<div class="container">
				<div class="section-title">
					<h2 style="font-size: 30px!important;">Postgraduate Programmes</h2>
				</div>
               
				<div class="row justify-content-center">
					<h2 style="font-size: 30px!important;">MBA and MPA Programmes (Weekend)</h2>
                
                    <a href="bsc-accounting" class="read-more">MBA Accounting</a>
                    <a href="bsc-accounting" class="read-more">MBA Finance</a>
                    <a href="bsc-accounting" class="read-more">MBA Health and Public Administration</a>
                    <a href="bsc-accounting" class="read-more">MBA Human Resource Management</a>
                    <a href="bsc-accounting" class="read-more">MBA Educational Management and Leadership</a>
                    <a href="bsc-accounting" class="read-more">MBA Marketing</a>
                    <a href="bsc-accounting" class="read-more">MBA Management Information Systems</a>
                    <a href="bsc-accounting" class="read-more">Master of Public Administration</a>
                    <a href="bsc-accounting" class="read-more">MBA Procurement and Supply Chain Management</a>

                    <h2 style="font-size: 30px!important;">MSc and MA Programmes (Sandwich)</h2>
                    <a href="bsc-accounting" class="read-more">MSc Accounting</a>
                    <a href="bsc-accounting" class="read-more">MSc Development Finance</a>
                    <a href="bsc-accounting" class="read-more">MA Leadership and Organisational Development</a>
                    <a href="bsc-accounting" class="read-more">MSc Procurement and Supply Chain Management</a>
                    <a href="bsc-accounting" class="read-more">MSc Entrepreneurship and Innovation</a>

                    <h2 style="font-size: 30px!important;">MPhil Programmes</h2>
                    <a href="bsc-accounting" class="read-more">MPhil Accounting</a>
                    <a href="bsc-accounting" class="read-more">MPhil Finance</a>
                    <a href="bsc-accounting" class="read-more">MPhil Management Information Systems</a>
                    <a href="bsc-accounting" class="read-more">MPhil Human Resource Management</a>
                    <a href="bsc-accounting" class="read-more">MPhil Public Administration</a>
                    <a href="bsc-accounting" class="read-more">MPhil Health Service Administration</a>
                    <a href="bsc-accounting" class="read-more">MPhil Procurement and Supply Chain Management</a>

                    <h2 style="font-size: 30px!important;">PhD</h2>
                    <a href="bsc-accounting" class="read-more">PhD Business Administration [with Specialisations]</a>
                    <a href="bsc-accounting" class="read-more">PhD Development Finance</a>

				</div>
			</div>
		</section>
		<!-- End Study Area -->

		<!-- Start Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../partials/scripts.ejs') %>
       </body>
