<div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="index" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/admin-assets/images/favicon.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/admin-assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>
                
                <a href="index" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/admin-assets/images/favicon.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/admin-assets/images/logo-light.png" alt="" height="50">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
              
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#"  role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class=" ri-apps-fill"></i><span data-key="t-dashboards">Dashboards</span>
                            </a>
                           
                        </li> 
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Lecturers' Profiles</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/create-lecturer-profile" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class=" ri-user-add-fill"></i> <span data-key="t-apps">Add Lecturer</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/lecturers-profile-list" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="ri-group-fill"></i> <span data-key="t-apps">All Lecturers</span>
                            </a>
                        </li>
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Event Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/create-lecturer-profile" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class=" ri-user-add-fill"></i> <span data-key="t-apps">Add Event</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/lecturers-profile-list" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="ri-group-fill"></i> <span data-key="t-apps">Events List</span>
                            </a>
                        </li>
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">News Management</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/create-lecturer-profile" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class=" ri-user-add-fill"></i> <span data-key="t-apps">Add News</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/lecturers-profile-list" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="ri-group-fill"></i> <span data-key="t-apps">News List</span>
                            </a>
                        </li>
                        <!--                        
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Programmes</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#profile" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class=" ri-user-add-fill"></i> <span data-key="t-apps">Add Department</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#profile" role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="ri-group-fill"></i> <span data-key="t-apps">All Department</span>
                            </a>
                        </li> -->
                    

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

        </div>