<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>MBA Health Service Administration</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">MBA Health Service Administration</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>MBA Health Service Administration</h2>
							<p>
                                In order to help you become a more well-rounded leader, the Master of Business Administration in Health Services Administration programme offers demanding coursework with a focus on practical application. The social, legal, and ethical facets of running a healthcare business are highlighted in the core curriculum, along with methods for communicating with key figures and fostering the strongest possible level of staff dedication. Using management finance, marketing, and accounting to resolve company issues and improve corporate performance will also be examined.
In this HSA programme, you will learn:

                            </p>>

                            <ul>
                                <li>
                                Critical competencies for healthcare executives, including an appreciation of how effective leaders think, make decisions and solve problems

                                </li>
                                <li>
                                    Theories, methods, and assessment tools for the implementation of quality management activities used by healthcare professionals

                                </li>
                                <li>
                                Complex financial systems within today’s healthcare environment as well as an understanding of health insurance and public funding programmes

                                </li>
                                <li>
                                    Principles and applications of healthcare accounting and finance management

                                </li>
                            </ul>

							<div class="gap-20"></div>


							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
