<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>MBA Marketing</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">MBA Marketing</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>MBA Marketing</h2>
							<p>
                                Our MBA in Marketing aims to increase your knowledge of marketing strategy. A strong foundation in marketing management is provided by our MBA, which also features exciting projects. You will be free to pursue your professional interests and work in the industry of your choice, whether it be data modelling or professional services, travel, or retail. You will leave with the knowledge and skills necessary to take on marketing management positions as well as transferrable abilities that will allow you to contribute to any organisation.
                            </p>



							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
