<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>PhD Business Administration (Entrepreneurship and Innovation)</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">PhD Business Administration (Entrepreneurship and Innovation)</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>PhD Business Administration (Entrepreneurship and Innovation)</h2>
							<p>
                                The PhD Entrepreneurship and Innovation programme  focuses on researching, analysing, and understanding the processes and strategies that lead to successful entrepreneurship and innovation. The programmw is designed for individuals who want to advance their knowledge in the field and become experts in developing new business ventures, creating and implementing innovative ideas, and driving economic growth. During the programme, students will have the opportunity to conduct independent research, collaborate with other scholars, and publish their findings in academic journals. They will also attend seminars, workshops, and conferences to stay up-to-date on the latest trends and techniques in entrepreneurship and innovation. To be eligible for a PhD in Entrepreneurship and Innovation, applicants typically need a master’s degree in a related field and have demonstrated research capabilities. The programme usually takes three to four years to complete depending on prior qualifications and experience.  Graduates can pursue academic positions, research roles in the private sector, or start their businesses. Some of the topical research issues in the PhD Entrepreneurship and Innovation programme include:  Business models and strategies,   Innovation management and commercialisation, Entrepreneurial finance and venture capital, Social and sustainable entrepreneurship,  Intellectual property and legal issues, Creativity and design thinking, Entrepreneurial marketing and branding and Entrepreneurial ecosystems and networks
                            </p>



							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
