<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>BSc Business Information Systems</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">BSc Business Information Systems</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>BSc Business Information Systems</h2>
							<p>
Business Information Systems (BIS) is an innovative 4-year undergraduate degree that explores the use of technology in the modern business environment.  It incorporates skills development in technology, business and technology management It mixes business subjects such as Accounting, Economics and Marketing with technology-focused subjects such as Databases, Systems Analysis, Cybersecurity and Networks. The BSc (BIS) degree provides the ideal platform for a successful career in business. The programme's goal is to develop highly qualified graduates with a strong foundation in business knowledge and management skills who can demonstrate business analysis and applied information skills in both national and international business environments.							</p>

    <h3>Admission Requirements</h3>
    <ul>
        <li>West Africa Senior School Certificate,</li>
        <li>General Certificate of Education (Ordinary and Advanced Levels),</li>
        <li>International Baccalaureate (IB), IGCSE, GCSE, the American Grade 12 and 13 examinations and other external qualifications which have equivalences to the SSSCE or the WASSCE,</li>
        <li>Candidates in possession of a diploma from the University for Development Studies or its equivalent,</li>
        <li>Mature students: candidates (aged at least 25 years) who have duly passed the University’s mature students’ examinations.</li>
    
    </ul>


							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>4 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
