<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>MSc Development Finance</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">MSc Development Finance</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>MSc Development Finance</h2>
							<p>
MSc Development Finance covers the macro, sectoral, and enterprise levels of financial analysis of current issues as well as knowledge of key financial concepts for deisigning innovative funding mechanisms for developing and emerging economies. The programme sanalyses both the formal and informal financial sectors, as well as institutional architecture, financial reforms, and strategies to encourage financial inclusion. The sutilisation of case studies will demonstrate the MSc. Development Finance's significant emphasis on practice-oriented learning. Additionally, the curriculum will include a master's dissertation that is focused on industry, as well as the inclusion of practitioners in teaching and research. Additionally, the programme will strive to promote service to society on a larger scale by offering high-quality academic and professional training. After completing the programme, students will be expected to have a stronger commitment to the public good and the development agenda.

The MSc Development Finance is a sandwich programme delivered during two third-trimester breaks at the University. This is between July and September.
</p>
 
							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
