<html lang="zxx">
		<%- include('../../../partials/head.ejs') %>

    <body>
		
		
		<!-- Start Header Area -->
		<%- include('../../../partials/header.ejs') %>

		<!-- End Header Area -->	

		

        <div class="page-title-area bg-21">
			<div class="container">
				<div class="page-title-content">
					<h2>PhD Development Finance</h2>

					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">PhD Development Finance</li>
					</ul>
				</div>
			</div>
		</div>

        <section class="courses-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-default-content mr-15">
							<h2>PhD Development Finance</h2>
							<p>
The aim of the PhD Development Finance programme is to provide an avenue for development finance professionals, academics, researchers, and those who aspire to work in the area of finance for development an opportunity to acquire in-depth theoretical and practical knowledge, top-notch research and policy analytical skills to enable them function well as development finance experts. The products of the programme will be imbued with high-level competencies in project finance, sustainable finance, risk analysis and mitigation, developing innovative financing instruments, financial policy, financial regulations, trade and development, microfinance, FinTech and among others. Beyond this, graduates of the programme will be capable of conducting independent and problem-solving research; and possess critical skills for policy analysis in a financially globalised world. 
<h2>Preparation and Qualifications</h2>
Students are expected to have familiarity with programming and data analysis using tools and software such as Eviews, MATLAB, Stata, R, Python or to correct any deficiencies before enrolling. There is keen competition for admission into the PhD Finance programme , which involves a great deal of hard work. For both these reasons, the faculty is selective in offering admission. Prospective applicants must have an aptitude for quantitative work and be at ease in handling formal models. A strong background in economics, statistics and mathematics is desirable.

</p>

							<div class="gap-20"></div>

								

							<div class="course-odf-bg">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="course-pdf">
											<i class="ri-file-pdf-line"></i>
											<h3>All courses tution fees</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="download-pdf">
											<a href="#" class="default-btn">
												Download
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="courses-sidebar ml-15">
							<div class="courses-single-sidebar mb-0">
								<h3>Programme information for - 2023</h3>

								<ul>
									<li>
										Modes of study
										<span>Attendance</span>
									</li>
									<li>
										Duration	
										<span>2 years full-time</span>
									</li>
									<li>
										Location
										<span>Tamale</span>
									</li>
									<li>
										Method
										<span>On Campus</span>
									</li>
									
									<li>
										Start dates	
										<span>1st Semester - May</span>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start Footer Area -->
		<%- include('../../../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../../../partials/scripts.ejs') %>
       </body>
